.level {
  padding-left: 0;
  .heading {font-size: 1.5em; font-weight: 500; margin-bottom: 1em;}
  .level {
    padding-left: 1.5em;
    .heading {font-size: 1.35em;}
    .level {
      padding-left: 1.5em;
      .heading {font-size: 1.25em;}
      .level {
        padding-left: 1.5em;
        .heading {font-size: 1.1em;}
      }
    }
  }
}
div.policy-header {display: none;}
div[data-tags*="Compound"] div.policy-header {display: block;}
page-break {margin-top: 4em; display: block; border-top: 1px solid #999;}
div.history ul, div.legal ul, ul.plain  {list-style: none;}
div[data-tiddler-title^="Policy"][data-tiddler-title$="-History"] ul {list-style: none;}
div[data-tiddler-title^="Policy"][data-tiddler-title$="-Legal"] ul {list-style: none;}
.pdf-link {
  float: right;
  text-align: center;
  display: inline-box;
  margin: 0 .5em;
  a {text-decoration: none; font-size: 75%; padding: 1em; display: block; width: 100%; height: 100%; line-height:1.25}
}
div[data-tags~="Legal"] ul, div[data-tags~="History"] ul {list-style: none;]}
div.school-addresses {
  display: flex;
  flex-direction: row;
  address {flex: 1 1 33%;}
}
address {display: inline-block; white-space: pre; font-style: normal;  padding-left: 3em;}
div.term, div.marker {float: left; padding-right: .5em;}
.conjugation {display: block; margin: 0 1em;}
div.event {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 0 0 3em;
  div {margin: 0}
  .event-name {flex: 0 0 7em;}
  .event-date {flex: 1 0 auto;}
}
p:has(div.event) {margin: 0; padding: 0;}
nav.breadcrumbs {
  opacity: 50%; 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 0;
  margin-bottom: .5em;
  div.sep {padding: 0 .5em; min-width: 0;}
  div.crumb {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; min-width: 0;}
}
dl.notes nav.breadcrumbs {
  opacity: 100%;
}
ol.continued { 
  counter-reset: none;
}
.upper {text-transform: uppercase;}
.underline {text-decoration: underline;}
.two-column {column-count: 2; list-style: none;}
definition {padding-left: 1.5em}
.aliases {float: right; padding-top: .25em;}
table.indented {
  margin-left: 4em;
}
table.invisible {
  border: none;
  tr, td, th {border: none;}
}
table.grouped-col {
  td, th {padding: .25em 2em .25em 1em; vertical-align: top;}
}
